# Nix
result
result-*

# macOS
.DS_Store
.AppleDouble
.LSOverride

# CI temporary files
flake.nix.original
darwin-installer.nix

# Nix darwin build outputs
.nixos-rebuild
.darwin-rebuild

# Local development
.envrc
.direnv/